.experience {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5em;

  @include media(tablet) {
    gap: 1.5rem;
  }

  &__date {
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    z-index: 10;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    min-width: 125px;
    width: 125px;
    font-size: 0.75rem;
    line-height: 1rem;
    @include media(tablet) {
      padding-top: 0;
      width: 100%;
    }
  }

  &__text {
    margin-top: 0.5rem;
  }
}
