.main{
    width: 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
}