.sound-switcher {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
   

    svg {
        polygon,
        path {
            fill: #666666;
        }

        &:hover {
            polygon,
            path {
                fill: $neon;
            }
        }
    }
}

.sound-toggle svg polygon,
.sound-toggle svg path  {
    fill: $neon;
}

