* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./_base.scss";
@import "./_welcome.scss";
@import "./cards.scss";
@import "./_footer.scss";
@import "./_canvas.scss";
@import "./_cursor.scss";
@import "./_preloader.scss";
@import "./_scene-switcher.scss";
@import "./_sound-switcher.scss";
@import "./_experience.scss";
@import "./_tipography.scss";

